@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: #ffe600d8,
  // $secondary: color.scale(#676778b6, $whiteness: -10%),
  $secondary: color.scale(#30302e),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #000000e0,
  $error: color-palette.$red-700
);

html,
body {
  background-color: #000000e0;
  color: theme.$on-surface;
}

a {
	color: theme.$on-surface;
}

a:hover {
	color: #b9a700d8;
}
